{% load staticfiles %} <!-- PARA USAR O CAMINHO PADRAO STATIC_URL -->

<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <title>{% block titulo %}{% endblock titulo %} - Financeiro Pessoal</title>

    <!-- CSS -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/download.jpg">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jasny-bootstrap.min.css" rel="stylesheet">
    <!-- FIM CSS -->
    <script language="javascript" src="{{STATIC_URL}}js/funcoes.js"></script>

  </head>

  <body>
    <div class="container">
    <!-- MENU -->
    {% include 'navbar.html' %}
    <!-- FIM MENU -->
    
      <!-- CONTEUDO -->
      {% block conteudo %}
        
        {% endblock conteudo %}
      <!-- FIM CONTEUDO -->

    
    <div class="col-sm-12">
    <footer>
        <div align="center">&copy; Alexsander Falcucci.</div>
        </footer>
    </div>  


    <!-- RODAPE -->

    <!-- FIM RODAPE -->

    <!-- JavaScript -->

    
    <script language="JavaScript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    
    <script language="JavaScript" type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="{{ STATIC_URL }}js/jasny-bootstrap.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="{{ STATIC_URL }}js/jasny-bootstrap.js"></script>
    
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    {% block js %}
    {% endblock js %}


    <!-- FIM JavaScript -->
    
  </body>
  </div>
</html>