<div class="col-sm-12">
<hr>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Objetivo
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        O SFP é uma solução online que possibilita controlar as despesas facilmente, com muito mais segurança e agilidade. Tenha uma visão mais detalhada de suas finanças adicionando categorias e formas de pagamento. Saiba com mais precisão onde seu dinheiro está indo. Proporciona a praticidade de organizar as suas despesas de onde você estiver. É um programa inteligente, fácil de usar e com alguns minutos para você identificar onde exatamente o seu dinheiro está sendo gasto.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Normas
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Este aplicativo prezará pela simplicidade e poderá ser usado tanto para ao monitoramento da sua conta pessoal como profissional, caso você possua uma pequena empresa, por exemplo.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Funcionalidade
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Por ser baseado completamente na web, o SFP permite que você tenha acesso às ferramentas de gestão oferecidas de qualquer lugar, seja do seu computador ou até mesmo de um smartphone ou tablet.
      </div>
    </div>
  </div>
</div>
</div>
