{% extends 'base.html' %}

{% block titulo %}Principal{% endblock titulo %}

{% block conteudo %}
  <div class="col-sm-5" align="center">
      <img class="img-responsive" id="icone" src="{{ STATIC_URL }}img/gestao_financeira.jpg">
            </div>
            <div class="col-sm-7" align="center">
              <div class="page-header">
        <h1>Sistema de Finanças Pessoais <small><br/>Planejando sua renda</small></h1>
        </div>
              Projeto de Finanças Pessoais desenvolvido em Python $ Django para fins didáticos.
              <br/>O código desse projeto encontra-se no <a href="https://github.com/alexfalcucc/projetoFPUNIX" target="_blank">Github</a>. Developer <kbd>Alex Falcucci</kbd>.</br> Contate-me através de meu <a href="http://alexdjangocoding.herokuapp.com/" target="_blank">Site</a>.</br></br>
              <h5>Projeto em desenvolvimento:</h5> 
              <div class="col-sm-12">
                <div class="progress progress-striped active" style="background-color: #ACDCFC;">
              <div class="progress-bar"  role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" 
              style="width: 30%">30% Finalizado
              </div>
          </div>
        </div>
            
            </div>
            



    {% include 'collapsible.html' %}

{%endblock conteudo %}


